BasedOnStyle: Google
AccessModifierOffset: -4
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: No
BreakBeforeBraces: Attach
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IncludeBlocks: Merge
IndentPPDirectives: None
IndentWidth: 4
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
SpaceAfterCStyleCast: true
SpaceBeforeRangeBasedForLoopColon: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
FixNamespaceComments: false
NamespaceIndentation: All
AlignEscapedNewlines: Right
AlignOperands: AlignAfterOperator